doctype html
html
  head
    title Global Population Clock
  body
    h1 Worlds leading census checker

form(action="/search", method="GET")
  input(type="text", name="query", placeholder="Enter search query")
  button(type="submit") Search
