<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="main">
        <div class="main__container">
          <div class="main__container">
            <div class="main__content">
              <h1>Global Clock Page</h1>
              <H2>Click anywhere on the map</H2>
              <P
                >The Global Clock allows you to hover over different countries
                and check the real time statistics on their population</P
              >
              <button class="main__btn"><a href="/">Get Started</a></button>
            </div>
            <div class="main__img--container">
              <img src="../../pic5.jpg" alt="pic" id="main__img" />
            </div>
          </div>
        </div>
      </div>

      <div class="services">
        <h1>Explore the varying population rates of different regions</h1>
        <div class="services__container">
          <div class="services__card">
            <h2>Global Clock</h2>
            <p>Real time population checker</p>
            <button>Click here</button>
          </div>
          <div class="services__card">
            <h2>Search</h2>
            <p>Search for specific country/region</p>
            <button>Click here</button>
          </div>
          <div class="services__card">
            <h2>About</h2>
            <p>Learn more about us</p>
            <button>Click here</button>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
